In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium

In [2]:
ged211 = pd.read_excel('../data/a_ged211.xlsx')

In [3]:
ged211.head(10)

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,244657,IRQ-2017-1-524-322,2017,1,Clear,1,259,259,Iraq: Government,524,...,2017-07-31,0,4,0,2,6,6,6,645,NaN
1,132140,AFG-1989-1-411-2,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-13,6,0,0,0,6,6,6,700,NaN
2,130364,AFG-1989-1-411-37,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-18,0,0,0,4,4,4,0,700,NaN
3,130359,AFG-1989-1-411-4,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-24,0,0,0,600,600,600,600,700,NaN
4,133883,AFG-1989-1-411-39,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-02-05,0,0,0,2,2,2,0,700,NaN
5,133874,AFG-1989-1-411-6,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-31,0,0,0,70,70,70,70,700,NaN
6,133878,AFG-1989-1-411-38,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-02-04,0,20,0,0,20,20,0,700,NaN
7,133888,AFG-1989-1-411-40,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-02-08,0,0,0,7,7,7,0,700,NaN
8,133891,AFG-1989-1-411-9,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-02-10,1,0,0,0,1,1,1,700,NaN
9,133892,AFG-1989-1-411-7,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-02-14,0,0,5,0,5,5,5,700,NaN

In [4]:
ged211_mex = ged211[ged211['country'].str.contains('Mexico')]
ged211_mex.shape

(7497, 49)

In [5]:
ged211_mex.head(10)

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
107751,184766,MEX-1994-1-230-8,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-02-23,20,0,0,25,45,45,45,70,NaN
107752,184720,MEX-1994-1-230-6,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-01-06,0,0,0,9,9,309,9,70,NaN
107753,184722,MEX-1994-1-230-7,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-01-07,0,0,0,5,5,5,5,70,NaN
107754,184765,MEX-1994-1-230-3.1,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-01-01,5,0,1,0,6,5,6,70,NaN
107755,193587,MEX-1994-1-230-3.2,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-01-01,5,0,1,0,6,5,5,70,NaN
107756,193588,MEX-1994-1-230-3.3,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-01-01,5,0,0,0,5,6,5,70,NaN
107757,193589,MEX-1994-1-230-3.4,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-01-01,5,0,0,0,5,6,5,70,NaN
107758,193590,MEX-1994-1-230-3.5,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-01-01,4,0,1,0,5,5,6,70,NaN
107759,184763,MEX-1994-1-230-4,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-01-02,6,24,0,0,30,30,30,70,NaN
107760,184764,MEX-1994-1-230-5,1994,1,Clear,1,400,400,Mexico: Government,850,...,1994-01-03,2,27,0,0,29,29,29,70,NaN

In [6]:
#replace integers with their associated values
ged211_mex = ged211_mex["type_of_violence"].replace({
"1": "state-based",
"2": "non-state",
"3": "one-sided"})

In [7]:
# drop "code_status" column - data codebook states "Always clear, only used for monthly releases of candidate
# events, only available in the api 21.1 version, removed in the other formats for UCDP GED 21.1."
ged211_mex=ged211_mex.drop(columns=['code_status'])

In [8]:
# drop "conflict_dset_id" column - data codebook states "Only used in older versions of the dataset, exists but should
# not be used in the api 21.1 version, removed in the other formats for UCDP GED 21.1."
ged211_mex=ged211_mex.drop(columns=['conflict_dset_id'])

In [9]:
# drop "dyad_dset_id" column - data codebook states "Only used in older versions of the dataset, exists but should
# not be used in the api 21.1 version, removed in the other formats for UCDP GED 21.1"
ged211_mex=ged211_mex.drop(columns=['dyad_dset_id'])

In [10]:
# drop "side_a_dset_id" column - data codebook states "Only used in older versions of the dataset, exists but should
# not be used in the api 21.1 version, removed in the other formats for UCDP GED 21.1"
ged211_mex=ged211_mex.drop(columns=['side_a_dset_id'])

In [11]:
# drop "side_b_dset_id" column - data codebook states "Only used in older versions of the dataset, exists but should
# not be used in the api 21.1 version, removed in the other formats for UCDP GED 21.1"
ged211_mex=ged211_mex.drop(columns=['side_b_dset_id'])

In [ ]:
ged211_mex=ged211_mex.drop(columns=['region'])